body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $primaryFont;
    font-size: var(--fs16);
    line-height: 1.2;
}

body,
html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:focus-visible {
    outline: none;
}

a:hover {
    color: unset;
}

input:focus-visible {
    outline: none;
}

ul {
    list-style: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0;
    box-shadow: none;
}

.accordion-button {
    background-color: unset !important;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        box-shadow: none;
    }
}

.accordion-button:not(.collapsed) {
    background-color: unset;
}

.accordion-item {
    background-color: unset;
    border: 0;
    border-radius: 0;
}

.nav {
    &.nav-tabs {
        border: 0;

        .nav-link {
            border: 0;
            color: inherit;
            padding: 0;
            &.active{
                outline: none;
                border: 0;
            }
        }
    }
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.flex_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 90%;
    width: 100%;
}

.fw700 {
    font-weight: 700 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw300 {
    font-weight: 300 !important;
}
.customBtn{
    width: fit-content;
    padding: 20px 40px;
    line-height: 1;
    font-size: var(--fs30);
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 15px;
}
.slick-track{
    display: flex;
}