.primaryFont {
  font-family: "Poppins";
}

.primaryColor {
  color: #15bae8;
}

.primaryColorBg {
  background-color: #15bae8;
}

.primaryColor__ {
  color: #60C9E9;
}

.primaryColorBg__ {
  background-color: #60C9E9;
}

.secondaryColor {
  color: #fcdf61;
}

.secondaryColorBg {
  background-color: #fcdf61;
}

.blackColor {
  color: #000;
}

.blackColorBg {
  background-color: #000;
}

.whiteColor {
  color: #fff;
}

.whiteColorBg {
  background-color: #fff;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.eot");
  src: url("../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  font-size: var(--fs16);
  line-height: 1.2;
}

body,
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:focus-visible {
  outline: none;
}

a:hover {
  color: unset;
}

input:focus-visible {
  outline: none;
}

ul {
  list-style: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
  box-shadow: none;
}

.accordion-button {
  background-color: unset !important;
}
.accordion-button:focus-visible {
  outline: none;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: unset;
}

.accordion-item {
  background-color: unset;
  border: 0;
  border-radius: 0;
}

.nav.nav-tabs {
  border: 0;
}
.nav.nav-tabs .nav-link {
  border: 0;
  color: inherit;
  padding: 0;
}
.nav.nav-tabs .nav-link.active {
  outline: none;
  border: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.flex_align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  width: 100%;
}

.fw700 {
  font-weight: 700 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.customBtn {
  width: fit-content;
  padding: 20px 40px;
  line-height: 1;
  font-size: var(--fs30);
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.slick-track {
  display: flex;
}

.tickIcon {
  border-bottom: 4px solid #fcdf61;
  border-right: 4px solid #fcdf61;
  transform: rotate(45deg);
  width: 10px;
  height: 18px;
  display: inline-block;
}

@media screen and (max-width: 1370px) {
  .tickIcon {
    border-bottom: 3px solid #fcdf61;
    border-right: 3px solid #fcdf61;
    width: 8px;
    height: 15px;
  }
}
:root {
  --fs65: 65px;
  --fs50: 50px;
  --fs40: 40px;
  --fs30: 30px;
  --fs22: 22px;
  --fs18: 18px;
  --fs16: 16px;
  --p100: 100px;
  --m50: 50px;
}

.fs65 {
  font-size: var(--fs65);
}

.fs50 {
  font-size: var(--fs50);
}

.fs40 {
  font-size: var(--fs40);
}

.fs30 {
  font-size: var(--fs30);
}

.fs22 {
  font-size: var(--fs22);
}

.fs18 {
  font-size: var(--fs18);
}

.fs16 {
  font-size: var(--fs16);
}

.py100 {
  padding-top: var(--p100);
  padding-bottom: var(--p100);
}

.pt100 {
  padding-top: var(--p100);
}

.pb100 {
  padding-bottom: var(--p100);
}

.my50 {
  margin-top: var(--m50);
  margin-bottom: var(--m50);
}

.mt50 {
  margin-top: var(--m50);
}

.mb50 {
  margin-bottom: var(--m50);
}

h1, h2 {
  font-weight: 700;
}

@media screen and (max-width: 1680px) {
  :root {
    --fs65: 50px;
    --fs50: 40px;
    --fs40: 35px;
    --fs30: 24px;
    --fs22: 18px;
    --fs18: 16px;
    --fs16: 15px;
    --p100: 80px;
    --m50: 40px;
  }
}
@media screen and (max-width: 1570px) {
  :root {
    --fs65: 45px;
    --fs50: 35px;
    --fs40: 30px;
    --fs30: 22px;
    --fs22: 17px;
  }
}
@media screen and (max-width: 1370px) {
  :root {
    --fs65: 40px;
    --fs50: 30px;
    --fs40: 22px;
    --fs30: 20px;
    --fs22: 16px;
    --fs18: 15px;
    --fs16: 14px;
    --p100: 60px;
    --m50: 20px;
  }
}
.topBar {
  background-color: #fcdf61;
  height: 50px;
}
.topBar .contactBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.topBar .contactBox + .contactBox {
  margin-left: 40px;
}
.topBar .contactBox i {
  color: #15bae8;
}
.topBar .socialIcon {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBar .socialIcon i {
  color: #000;
}
.topBar span {
  font-size: 14px;
  display: block;
  color: #000;
}
.topBar span a {
  color: inherit;
}

@media screen and (max-width: 1680px) {
  .topBar {
    height: 36px;
  }
}
@media screen and (max-width: 1370px) {
  .topBar .contactBox + .contactBox {
    margin-left: 24px;
  }
  .topBar .socialIcon {
    width: 80px;
  }
  .topBar span {
    font-size: 13px;
  }
  .topBar {
    height: 30px;
  }
}
.navWrap {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  top: 0;
}
.navWrap.scrolled {
  transition: all 0.6s ease;
  position: fixed;
  animation: navTop 1s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.navWrap .navbar {
  padding: 10px 0;
  height: 120px;
}
.navWrap .navbar .navbar-nav {
  gap: 20px;
}
.navWrap .navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}
.navWrap .navbar-brand img {
  height: 100%;
}
.navWrap .navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: var(--fs18);
}
.navWrap .navbar-expand-lg .navbar-nav .nav-link.active {
  color: #15bae8;
}
.navWrap .hasDrop {
  position: relative;
}
.navWrap .hasDrop .hasDropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-width: 350px;
  left: 50%;
  top: 150%;
  transition: all 0.6s ease;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  transform: translateX(-50%);
}
.navWrap .hasDrop .hasDropdown li {
  border-bottom: 1px solid #edeff1;
}
.navWrap .hasDrop .hasDropdown li:last-child {
  border-bottom: 0;
}
.navWrap .hasDrop .hasDropdown li a {
  padding: 14px 30px;
  display: block;
  color: #000;
}
.navWrap .hasDrop .hasDropdown li a i {
  opacity: 0;
  transition: all 0.3s ease;
  width: 0;
  visibility: hidden;
  font-size: 16px;
}
.navWrap .hasDrop .hasDropdown li a:hover {
  color: #fcdf61;
}
.navWrap .hasDrop .hasDropdown li a:hover i {
  opacity: 1;
  width: 16px;
  visibility: visible;
  color: #fcdf61;
}
.navWrap .hasDrop:hover .hasDropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

@keyframes navTop {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@media screen and (max-width: 1680px) {
  .navWrap .navbar {
    height: 100px;
  }
}
@media screen and (max-width: 1570px) {
  .navWrap .navbar {
    height: 85px;
  }
  .navWrap .hasDrop .hasDropdown {
    min-width: 320px;
  }
  .navWrap .hasDrop .hasDropdown li a {
    padding: 14px 20px;
  }
}
@media screen and (max-width: 1370px) {
  .navWrap .navbar {
    height: 75px;
    padding: 8px 0;
  }
  .navWrap .navbar-expand-lg .navbar-nav .nav-link {
    padding: 14px;
  }
  .navWrap .navbar .navbar-nav {
    gap: 10px;
  }
  .navWrap .hasDrop .hasDropdown {
    min-width: 285px;
  }
  .navWrap .hasDrop .hasDropdown li a {
    padding: 10px 16px;
  }
}
.footerBox {
  max-width: 400px;
  width: fit-content;
}

.scrollTop {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #15bae8;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  right: 30px;
  bottom: 30px;
  z-index: 9;
}
.scrollTop.scrolled {
  opacity: 1;
  visibility: visible;
}
.scrollTop span {
  border-left: 3px solid #fcdf61;
  border-top: 3px solid #fcdf61;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  top: 20px;
  left: 15px;
  position: absolute;
}

.heroSlick {
  position: relative;
  z-index: 1;
  height: calc(100vh - 170px);
}
.heroSlick .heroImg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.heroSlick .heroImg img {
  height: 100%;
  width: 100%;
}
.heroSlick .heroImg::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.heroSlick .slick-list,
.heroSlick .slick-track {
  height: 100%;
}
.heroSlick .container {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heroSlick h4 {
  color: #60C9E9;
}
.heroSlick .heroDetails {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.heroSlick .heroDetails p {
  font-size: var(--fs30);
}
.heroSlick .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  gap: 30px;
}
.heroSlick .slick-dots li button {
  font-size: 0;
  background: #fff;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.heroSlick .slick-dots li.slick-active button {
  background: unset;
  border-color: #fff;
  width: 20px;
  height: 20px;
}
.heroSlick .customBtn {
  border-color: #fff;
  background-color: unset;
  color: #fff;
}
.heroSlick .customBtn:hover {
  background-color: #fff;
  color: #000;
}

.aboutWrap {
  position: relative;
  z-index: 1;
  padding: 150px 0;
}
.aboutWrap::before {
  content: "";
  background-image: url(../img/aboutUsBg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.aboutWrap .aboutImg {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  max-height: 800px;
}
.aboutWrap .aboutImg img {
  height: 100%;
  width: 100%;
}
.aboutWrap .aboutInner {
  width: 60%;
}
.aboutWrap .aboutInner p {
  margin-top: 16px;
  line-height: 1.5;
}
.aboutWrap .aboutInner p:first-of-type {
  margin-top: 35px;
}
.aboutWrap .aboutInner h3 {
  margin-top: 40px;
  margin-bottom: 16px;
}
.aboutWrap .aboutInner li {
  padding-left: 25px;
  position: relative;
}
.aboutWrap .aboutInner li .tickIcon {
  position: absolute;
  left: 0;
  top: 0;
}
.aboutWrap .aboutInner ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.chooseImg {
  width: calc(50% - 15px);
  height: 630px;
}
.chooseImg img {
  width: 100%;
  height: 100%;
}

.chooseContent {
  width: calc(50% - 15px);
}
.chooseContent p {
  margin-top: 30px;
  margin-bottom: 40px;
}
.chooseContent span {
  display: inline-block;
}
.chooseContent li {
  display: grid;
  gap: 10px 20px;
  align-items: center;
  grid-template-columns: 20px calc(100% - 40px);
  margin-bottom: 40px;
}
.chooseContent li:last-child {
  margin-bottom: 0;
}
.chooseContent li span {
  line-height: 1.5;
  grid-column: 2;
}
.chooseContent li i {
  font-size: 22px;
  color: #15bae8;
}
.chooseContent h4 {
  width: 100%;
}

@media screen and (max-width: 1680px) {
  .heroSlick .heroDetails {
    margin: 30px 0;
    gap: 16px;
  }
  .heroSlick {
    height: calc(100vh - 136px);
  }
  .customBtn {
    padding: 18px 30px;
    border-radius: 10px;
  }
  .heroSlick .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .heroSlick .slick-dots li.slick-active button {
    width: 15px;
    height: 15px;
  }
  .aboutWrap .aboutImg {
    max-height: 640px;
  }
  .aboutWrap .aboutInner p:first-of-type {
    margin-top: 20px;
  }
  .aboutWrap .aboutInner p {
    margin-top: 10px;
  }
  .aboutWrap .aboutInner h3 {
    margin-top: 30px;
  }
  .chooseContent p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .chooseContent li {
    gap: 8px 16px;
    margin-bottom: 30px;
  }
  .aboutWrap {
    padding: 100px 0;
  }
}
@media screen and (max-width: 1570px) {
  .heroSlick {
    height: calc(100vh - 121px);
  }
  .chooseImg {
    height: 570px;
  }
  .heroSlick .slick-dots {
    bottom: 20px;
  }
  .heroSlick .heroDetails {
    margin: 24px 0;
    gap: 12px;
  }
}
@media screen and (max-width: 1500px) {
  .aboutWrap .aboutImg {
    max-height: 560px;
  }
}
@media screen and (max-width: 1370px) {
  .heroSlick {
    height: calc(100vh - 105px);
  }
  .customBtn {
    padding: 14px 20px;
    border-width: 1px;
    font-size: 16px;
  }
  .heroSlick .slick-dots li button {
    width: 8px;
    height: 8px;
  }
  .heroSlick .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
  }
  .aboutWrap {
    padding: 70px 0;
  }
  .aboutWrap .aboutInner ul {
    gap: 12px;
  }
  .aboutWrap .aboutInner li {
    padding-left: 20px;
  }
  .aboutWrap .aboutInner h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .chooseImg {
    height: 500px;
  }
  .chooseContent p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .chooseContent li {
    gap: 4px 16px;
    margin-bottom: 20px;
  }
  .heroSlick .slick-dots {
    gap: 20px;
  }
}/*# sourceMappingURL=style.css.map */